@media screen and (max-width: 800px) {
    #desktop-nav{
        display: none; 
    }
    #hamburger-nav {
        display: flex;
    }
}

/* LARGE SCREENS: when screen is 1600px or wider */
@media screen and (min-width: 1600px) {
    body {
      font-size: 1.2rem;
    }
  
    .hero-text {
      max-width: 60%;
    }
  }
  
  /* GLOBAL CONTAINER STYLE */
  .container {
    max-width: 1200px;
    margin: 0 auto; /* center the content horizontally */
    padding: 0 1rem; /* optional: add horizontal spacing on small screens */
  }
  
  